/* Samlet CSS for nettsiden */

/* Body */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
}
p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}
/* Farger på "boksene" */
.bg-1 {
  background-color: #f4888a; /* Rosa */
  color: #ffffff;
}
.bg-2 {
  background-color: #0d0427; /* Svart */
  color: #ffffff;
}
.bg-3 {
  background-color: #7841bd; /* Lilla */
  color: #ffffff;
}
.bg-4 {
  background-color: #6e92d0; /* Blå */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
/* Menylinje */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav {
  color: #f4888a;
}
.navbar-nav li a:hover {
  color: #f4888a !important;
}
#myVideo {
  position: relative;
  align-self: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 200px;
}
.left-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
/* Understreking ved hover over knapp */
.left-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #6e92d0;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left-underline:hover:before,
.left-underline:focus:before,
.left-underline:active:before {
  right: 0;
}
/* Bilder på "om spillet"-delen */
.storyImg {
  position: relative;
  align-self: auto;
  max-width: 400px;
  max-height: 400px;
}
